/* start services styles */

#services {
    background:  url(images/bg_services.jpg) no-repeat center / auto 100%;
    .in {
        padding-top: 90px;
        padding-bottom: 60px;
    }

    h2 {
        margin-bottom: 25px;
    }
}

.services {
    margin: 0 -15px;
    padding-bottom: 30px;
    padding-top: 15px;
    &:after {
		@include clear();
    }
    .service_item {
        float: left;
        width: calc(25% - 30px);
        height: 420px;
        margin: 0 15px 30px;
        box-sizing: border-box;
        padding: 30px 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
        text-align: center;

        .image {
            height: 260px;
            margin-bottom: 26px;

            img {
                vertical-align: top;
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }

        .h3 {
            max-width: 280px;
            margin: 0 auto;
            padding: 0 30px;
            //min-height: 88px;
        }

        &:nth-child(1) {
            background: linear-gradient(220.67deg, rgba(138, 209, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        }
        &:nth-child(2) {
            background: linear-gradient(220.67deg, rgba(255, 201, 207, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        }
        &:nth-child(3) {
            background: linear-gradient(220.67deg, rgba(255, 250, 207, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        }
        &:nth-child(4) {
            background: linear-gradient(220.67deg, rgba(150, 254, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        }
    }
}





@media screen and (max-width: 1600px) {
    .services {
        .service_item {
            height: 350px;
    
            .image {
                height: 200px;
                margin-bottom: 26px;
            }
            .h3 {
                padding: 0 0px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #services {
        .in {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    }
    .services {
        padding-bottom: 20px;
        .service_item {
            width: calc(50% - 30px);
            padding: 10px 10px;
            height: 280px;
            .image {
                //height: 200px;
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #services {
        .in {
            padding-top: 40px;
            padding-bottom: 30px;
        }
    }
}

// @media screen and (max-width: 900px) {

// }

@media screen and (max-width: 800px) {
    // .services {
    //     .service_item {
    //         height: 280px;
    //         .image {
    //             height: 150px;
    //         }
    //     }
    // }
}
@media screen and (max-width: 600px) {
    #services {
        .in {
            padding-top: 30px;
            padding-bottom: 10px;
        }
    }
	.services {
        margin: 0 -10px;
        padding-top: 0px;
        padding-bottom: 10px;
        .service_item {
            height: 210px;
            width: calc(50% - 20px);
            margin: 0 10px 20px;
            .image {
                height: 150px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
	.services {
        margin: 0px;
        .service_item {
            float: none;
            height: 150px;
            width: auto;
            margin: 0 0px 20px;
            display: flex;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            .image {
                width: 65%;
                height: 150px;
                text-align: center;
            }
            .h3 {
                width: 35%;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .services {
        .service_item {
            height: 120px;
            .image {
                width: 65%;
                height: 120px;
            }
            .h3 {
                width: 35%;
            }
        }
    }
}



/* end services styles */